*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url("image2.jpeg"); 
    
}
.container{
    background-color: rgba(255, 255, 255, 0.274);
    width: 40vw;
    height: 70vh;
    margin-top: 55px;
     display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}
.clock{
    height:100%;
    color: rgba(90, 71, 212, 0);
    -webkit-text-stroke: 2px rgb(0, 255, 72);
    text-shadow: 0px 0px 10px black ,3px 3px 3px rgb(180, 7, 133);

}
.clock1{
    width: 55%;
    
}
.clock2{
    width: 45%;
    padding-top: 20px;
    box-sizing: border-box;
}
#hrs{
    height: 40%;
    
     text-align: center;
     font-size: 150px;
     color: rgb(120, 40, 65);
}
#mins{
    height: 40%;
    
    text-align: center;
    font-size: 150px;
    color: rgb(235, 3, 76);
}
#colon{
    height: 20%;
    text-align: center;
    font-size: 100px;
    transform: translateY(-25px);
    color: rgb(165, 3, 235);
}
#mon{
    margin-left: 10px;
    
    
}
.date{
    height: 10%;
    font-size: 40px;
    color: rgb(235, 3, 76);


}
#year{
    height: 20%;
    font-size: 40px;
    color: rgb(9, 113, 142);

}
#day{
    height: 20%;
    font-size: 45px;
    margin-top: -40px;
    margin-left: -5px;
    color: rgb(235, 3, 169);

}
#am-pm{
  height: 20%;
  font-size: 80px;
  padding-top:60px ;
  color: rgb(235, 131, 3);

}
#sec{
    height: 30%;
    font-size: 80px;
    margin-top: 0px;
    color: rgb(135, 3, 45);
}
